// .about {
//   min-height: 60vh;
//   // background-color:#8cc28c;
//   @include sm {
//   min-height: 40vh;
//   }

.about__container {
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 3px;
    background-color: #92E3A0;
    color: white;
}

.about__container--title {
    background-color: white;
    width: 100vw;
    height: 50px;
}

.about__decor--title {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 80%;
    height: 80px;
    transform: translateX(-50%);
    background-color: #CDF2CF;
}

.about__decor--bottom {
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 60%;
    height: 40px;
    // transform: translateX(-50%);
    background-color: #CDF2CF;
}


.about__title {
    line-height: 80px;
    padding: 0;
}

.about__text {
    padding-top: 70px;
}

// .about__title {
// color: black;
// text-transform: uppercase;
// line-height: 1.8;
// letter-spacing: 0.2em;
// font-size: 14px;
// text-align: center;
// font-family: 'Oswald';
// font-weight: 400;
// font-style: normal;
//   font-size: 20px;
//   padding: 10% 5% 5% 5%;
//   color: #6f6259;
//   text-align: center;
//   margin: auto;
//   text-transform: capitalize;
//   // font-family: "Playfair", serif;

// }

// .about__text {
//   padding: 5% 10% 10% 10%;
//   text-align: center;
//   font-size: 16px;
//   font-weight: 500;
//   letter-spacing: .042em;
//   line-height: 1.6;
//   color: #6f6259;
//   ;




//   @include sm {
//     font-size: 27px;
//     padding: 5% 18% 10% 18%;
//   }

//   @include md {
//     font-size: 30px;
//     padding: 5% 20% 12% 20%;
//   }

//   @include lg {
//     font-size: 34px;
//     padding: 5% 22% 15% 22%;
//   }

//   @include xl {
//     font-size: 36px;
//   }
// }