.about__container {
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 3px;
    background-color: #92E3A0;
    color: white;
}

.about__container--title {
    background-color: white;
    width: 100vw;
    height: 50px;
}

.about__decor--title {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 80%;
    height: 80px;
    transform: translateX(-50%);
    background-color: #CDF2CF;
}

.about__decor--bottom {
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 60%;
    height: 40px;
    // transform: translateX(-50%);
    background-color: #CDF2CF;
}


.about__title {
    line-height: 80px;
    padding: 0;
}

.about__text {
    @include text;
    padding-top: 70px;
}