// @import "breakpoints";


.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 40vh;

  .home__title {
    @include title;
  }

  .home__text {
    @include text;
  }
}

@keyframes home {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}